.white {
  color: white;
}


h1 {
  text-align: center;
  color: white;
}

.link-div {
  border: 10px;
  boder-radius: 30px;
  border-style: double;
  width: 50%;
  margin: auto auto;
  height: auto;
  margin-bottom: 50px;
}



.link-div-music {
  border: 10px;
  boder-radius: 30px;
  border-style: double;
  width: 50%;
  margin: auto auto;
  height: auto;
  margin-bottom: 50px;
}

.link

.link-div a:link {
  color:antiquewhite;
}

.link-div a:hover {
  background: blueviolet;
}

.link-div a:visited  {
  color: chartreuse;
}

.main-page-title {
    text-align: center;
}

.front-page-link {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}




.about-me-background-color {
  background: image("images/color-bricks-background.gif");
}

.gaming-corner-background-color {
  background: linear-gradient(to bottom right, blue, pink);
}

.music-zone-background-color {
  background: linear-gradient(to left, gray, yellow);
}

body {
  font-family: sans-serif;
}

.center-text {
  text-align: center;
}

.notice {
  text-align: center;
  font-size: 20px;
  color:rgb(255,255,0);
}

.notice-border {
  height:10px;
  margin-top:10px;
  margin-bottom:10px;
  background-color:rgb(255, 127, 0);
}

.marquee-text {
  font-size: 50px;
  color:rgb(255, 0 ,127)
}


.underconstructionmarquee {
  animation-name:marquee;
  animation-duration:15s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.chon-chon-div {
  height: fit-content;
  width: fit-content;
  display: inline;
  position: relative;
  bottom:300px;
  right: 100px;
}

.chon-chon-picture  {
 max-width: 50%;
 height: auto;
  display: inline;
  border-radius: 50%;
  border: 1px solid #ddd;
  margin-left: 60px;
}

blockquote {
  color: white;
  font-size: 90%;f
}



.update-header {
  text-align: center;
  color: white;
}

.updates-div {
  border: 2px solid blue;
  margin: auto auto;
  padding: 5px 5px;
  width: fit-content;
  height: fit-content;
  color: antiquewhite;
}

.updates-div ul, li {
  margin-bottom: 1px;
  margin-top: 1px;
  font-style: italic;

}




@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(50%)
  }
}

.about-me-main-div {
  background-color: aqua;
}

.aqua-background {
  background-color: aqua;
}

.chill-survey-div {
  margin-top: 40px;
  color: chocolate;
}

.chill-survey-notice {
  text-align: center;
  font-size: 50px;
}

.surprise-face-guy {
  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.main-page-div {
  /*background-color:darkred;*/
  background: repeat url("images/bricks-background-2.gif");
  border: ridge 10px white;
  margin: auto auto;
  width: 50%;
  width: 50%;
  padding: 10px;
}

/* About me section */
.about-me-div {
  width: 30%;
  height: 30%;
  margin: 20px auto;

}
.about-me-div p {
  text-align: center;
}
.about-me-div img {
  width: 50%;
  height: 50%;
  display: block;
  margin: auto;
}

/* Gaming corner section */
.gaming-corner-div {
  width: 30%;
  height: 30%;
  margin: 20px auto;
}
.gaming-corner-div p {
  text-align: center;
}
.gaming-corner-div img {
  width: 50%;
  height: 50%;
  display: block;
  margin: auto;
}

/*Music Zone Corner */
.music-zone-div {
  width: 30%;
  height: 30%;
  margin: auto
}
.music-zone-div p {
  text-align: center;
}
.music-zone-div img {
  width: 50%;
  height: 50%;
  display: block;
  margin: auto;
}

.white-divider {
  border: solid 1px white;
  margin: 10px 0;
}

.center {
 margin: 0 auto;
}

.inline {
  display: inline;
}

.width-50 {
  width: 50%;
}

.solid-black-border {
  border: solid 5px black;
}





.chill-link {
  color:coral
}

/* Chill Survey */
.chill-survey-div {
  border: solid 5px black;
  max-width: 40%;
  margin: 0 auto;
  color: black;
  padding: 10px;
  border-radius: 10px;
}

label {
  display: block;
  margin-top: 20px;
}

.submit-button {
  display: block;
  width: 10%;
  height: 15%;
  margin: 0 auto;

}

.chill-survey-html {
  background-color:goldenrod;
}

.yaya {
  font-size: 50px;
  text-align: center;
  color: pink;
}

/* My gaming corner page */

.currently-playing-div {
  border: solid 4px black;
  max-width: 50%;
  margin: auto auto;
  align-content: center;
  padding: 5px 5px;
}

.currently-playing-div h2 {
  text-align: center;
}

.currently-playing-div img {
  width: 60%;
  height:60%;
  display: block;
  margin: auto auto;
}

.currently-playing-div p {
  text-align: center;
}

.currently-playing-div .divider {
  border: 2px solid black;
}

.currently-playing-div a {
  display: block;
  text-align: center;
}
